//Utils
.red {
  color: $red;
}

.dark-red {
  color: $dark-red;
}

.orange {
  color: $orange;
}

.grey {
  color: $grey;
}

.blue {
  color: $blue;
}

.light-blue {
  color: $light-blue;
}

.yellow {
  color: $yellow;
}

.grey-blue {
  color: $grey-blue;
}

.light-grey {
  color: $light-grey;
}

.lighter-grey {
  color: $lighter-grey;
}

.green {
  color: $green;
}

.red-bg {
  background-color: $red;
}

.dark-red-bg {
  background-color: $dark-red;
}

.orange-bg {
  background-color: $orange;
}

.grey-bg {
  background-color: $grey;
}

.blue-bg {
  background-color: $blue;
}

.light-blue-bg {
  background-color: $light-blue;
}

.grey-blue-bg {
  background-color: $grey-blue;
}

.yellow-bg {
  background-color: $yellow;
}

.light-grey-bg {
  background-color: $light-grey;
}

.lighter-grey-bg {
  background-color: $lighter-grey;
}

.green-bg {
  background-color: $green;
}
